<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>宝石详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../style/reset.css" />
  <link rel="stylesheet" type="text/css" href="../style/diamond_detail.css" />
  
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="inner">
        <div class="top clear-fix">
          <div class="left">028-85031160</div>
          <div class="center">
            <img src="../images/logo.png" alt="">
          </div>
          <div class="right">
            <a href="./login.html"><span></span></a>
          </div>
        </div>
        <div class="bottom">
          <div class="nav">
            <a href="../index.html">首页</a>
            <a href="./diamond.html" class="active">宝石</a>
            <a href="./service.html">定制服务</a>
            <a href="./purchasing.html">全球采购</a>
            <a href="./journal.html">采矿家日记</a>
          </div>
        </div>
      </div>
    </div>

    <div class="diamond-detail-wrapper">
      <div class="breadcump">
        <div class="breadcump-con">
          所在位置：<span>宝石</span><span class="seperator">></span><span>宝石详情</span>
        </div>
      </div>
      <div class="info-wrap">
        <div class="info-con clear-fix">
          <div class="left f-left">
            <div style="height: 318px;overflow: hidden;">
                <div class="big-image-con clear-fix" id="m1">
                  <img src="../images/prod_big_1.jpg"  title="大图片">
                </div>
                <div class="big-image-con clear-fix" id="m2">
                    <img src="../images/prod_big_2.jpg"  title="大图片">
                </div>
                <div class="big-image-con clear-fix" id="m3">
                    <img src="../images/prod_big_1.jpg" title="大图片">
                </div>
                <div class="big-image-con clear-fix" id="m4">
                    <img src="../images/prod_big_1.jpg"  title="大图片">
                </div>
                <div class="big-image-con clear-fix" id="m5">
                    <img src="../images/prod_big_1.jpg"  title="大图片">
                </div>
            </div>
            
            <div class="small-image-con" >
              <ul class="clear-fix" >
                <li class="f-left"><a href='#m1'><img src='../images/prod_1.jpg'></a></li>
                <li class="f-left"><a href='#m2'><img src='../images/prod_2.jpg'></a></li>
                <li class="f-left"><a href='#m3'><img src='../images/prod_3.jpg'></a></li>
                <li class="f-left"><a href='#m4'><img src='../images/prod_4.jpg'></a></li>
                <li class="f-left"><a href='#m5'><img src='../images/prod_5.jpg'></a></li>
              </ul>
            </div>
          </div>
          <div class="right f-right">
            <div class="title">1.15克拉天然莫桑比克鸽血红红宝石</div>
            <div class="detail-item">
              <p><span class="item-degree">种类：</span><span class="item-exp">裸石</span></p>
              <p><span class="item-degree">颜色：</span><span class="item-exp">裸石</span></p>
              <p><span class="item-degree">形状：</span><span class="item-exp">裸石</span></p>
              <p><span class="item-degree">重量：</span><span class="item-exp">裸石</span></p>
              <p><span class="item-degree">证书：</span><span class="item-exp">裸石</span></p>
              <p><span class="item-degree">价格：</span><span class="item-exp red">¥215999.00</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="article-wrap">
        <div class="article-con">
          <h3>商品详情</h3>
          <p>红宝石作为世界五大宝石之一，久负盛名，其价值不言而喻。在堪称红色宝石之王的红宝石，其中稀有的“鸽血红”色更是精品中的极品。它的红色除了纯净、饱
              和、明亮之外，更给人以强烈的“燃烧的火”与“流动的血”的感觉。</p>
          <img src="../images//article_1.jpg" alt="">
          <p>这枚经亚洲AIGS认证的天然未加热红宝石，重达1.15克拉，产自优质矿区莫桑比克。通体为鲜艳浓郁的鸽血红色调，红色纯正鲜亮，鲜艳浓烈，极富感染力。在
              精湛的切割工艺和抛磨技艺下，释放强玻璃光泽，火彩悦目，折光优异，在天然产出中极尽珍稀。肉眼观察微量内含物，镶嵌后基本可掩盖，性价比高，镶嵌佩戴举
              手投足间散发摄人心魂的动人美态。</p>
              <img src="../images//article_1.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="inner">
        <div class="footer-content">
          <p class="line-1">“上帝存在于细节中”</p>
          <p class="line-2">by<span>密斯·凡德罗</span></p>
          <ul class="line-3 clear-fix">
            <li class="f-left item-1">Copyright © 2016.pngems.com</li>
            <li class="f-left item-2">All Rights Reserverd.</li>
            <li class="f-left item-3">版权所有@2018 彩矿家</li>
            <li class="f-left item-4">蜀ICP备16005978号-1</li>
          </ul>
          <img src="../images/code.jpg" alt="二维码" title="二维码">
        </div>
      </div>
    </div>   
  </div>
</body>
<script src="../libs/jqzoom/jquery-1.5.js"></script>
</html>