<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" media="screen" href="../style/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../style/journal_detail.css" />
  <script src="../libs/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="inner">
        <div class="top clear-fix">
          <div class="left">028-85031160</div>
          <div class="center">
            <img src="../images/logo.png" alt="">
          </div>
          <div class="right">
            <a href="./login.html"><span></span></a>
          </div>
        </div>
        <div class="bottom">
          <div class="nav">
            <a href="../index.html">首页</a>
            <a href="./diamond.html">宝石</a>
            <a href="./service.html">定制服务</a>
            <a href="./purchasing.html">全球采购</a>
            <a href="./journal.html" class="active">采矿家日记</a>
          </div>
        </div>
      </div>
    </div>
    <div class="article">
      <div class="article-wrapper">
        <div class="breadcump">
          所在位置：<a href="./journal.html">采矿家日记</a><span>&gt;</span>珠宝知识
        </div>
        <div class="article-content">
          <div class="title">
            <div>从蝴蝶翅膀看哥伦比亚祖母绿的魅力</div>
            <span>2018-03-13</span>
          </div>
          <div class="article-detail">
            <p>乍一看到这个题目估计您的反应是蝴蝶翅膀和哥伦比亚祖母绿这两个八竿子打不着的事物能有什么关系? 难不成是有名的蝴蝶效应,就是南美洲的蝴蝶扇扇翅膀可能会引起北美洲的一场风暴? 倒也没有那么夸张，可是这两者还真有着撇不清的关系，且听我慢慢道来。</p>
            <img src="../images/article.jpg" alt="article" title="article">
            <p>话说我去哥伦比亚祖母绿矿区的时候，当地的矿工告诉我，他们特别希望能看到当地的一种蓝色蝴蝶，因为这种蝴蝶代表着独一无
                二的运气，往往预示今天会开采到质量特别好的祖母绿。而特别巧的是，在我听完这个典故的那一次哥伦比亚行程里，真的看到了一只
                蓝色的蝴蝶，我从越野车里首先看到一只蝴蝶在追随我们的车飞舞，赶紧叫同车的哥伦比亚美女确认，她欣喜的尖叫，不知道矿工们那
                天是否采到特别好的祖母绿，但我那天确实看到了不止一颗顶级祖母绿。</p>
          </div>
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="inner">
        <div class="footer-content">
          <p class="line-1">“上帝存在于细节中”</p>
          <p class="line-2">by<span>密斯·凡德罗</span></p>
          <ul class="line-3 clear-fix">
            <li class="f-left item-1">Copyright © 2016.pngems.com</li>
            <li class="f-left item-2">All Rights Reserverd.</li>
            <li class="f-left item-3">版权所有@2018 彩矿家</li>
            <li class="f-left item-4">蜀ICP备16005978号-1</li>
          </ul>
          <img src="../images/code.jpg" alt="二维码" title="二维码">
        </div>
      </div>
    </div>
  </div>
</body>
</html>