<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../style/reset.css" />
  <link rel="stylesheet" type="text/css" href="../style/service.css" />
  
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="inner">
        <div class="top clear-fix">
          <div class="left">028-85031160</div>
          <div class="center">
            <img src="../images/logo.png" alt="">
          </div>
          <div class="right">
            <a href="./login.html"><span></span></a>
          </div>
        </div>
        <div class="bottom">
          <div class="nav">
            <a href="../index.html">首页</a>
            <a href="./diamond.html">宝石</a>
            <a href="./service.html" class="active">定制服务</a>
            <a href="./purchasing.html">全球采购</a>
            <a href="./journal.html">采矿家日记</a>
          </div>
        </div>
      </div>
    </div>

    <div class="banner">
      <img src="../images/service_banner.jpg" alt="">
    </div>

    <div class="team-list">
      <h2>团队成员<span>/Team members</span></h2>
      <ul class="clear-fix">
        <li class="list-item f-left">
          <div class="member-name">队员一</div>
          <div class="member-info">
            <p class="member-position">销售顾问</p>
            <p class="member-introduce">【这里描述成员的简介，这里描述成员的简介，这里描述成员的简,这里描述成员的简介，】</p>
          </div>
        </li>
        <li class="list-item f-left">
          <div class="member-name">队员一</div>
          <div class="member-info">
            <p class="member-position">销售顾问</p>
            <p class="member-introduce">【这里描述成员的简介，这里描述成员的简介，这里描述成员的简,这里描述成员的简介，】</p>
          </div>
        </li>
        <li class="list-item f-left">
          <div class="member-name">队员一</div>
          <div class="member-info">
            <p class="member-position">销售顾问</p>
            <p class="member-introduce">【这里描述成员的简介，这里描述成员的简介，这里描述成员的简,这里描述成员的简介，】</p>
          </div>
        </li>
        <li class="list-item f-left">
          <div class="member-name">队员一</div>
          <div class="member-info">
            <p class="member-position">销售顾问</p>
            <p class="member-introduce">【这里描述成员的简介，这里描述成员的简介，这里描述成员的简,这里描述成员的简介，】</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="design-list">
      <h2>设计案列<span>/Design case</span></h2>
      <ul class="clear-fix">
        <li class="list-item f-left clear-fix">
          <div class="left f-left">
            <img src="../images/design_list_1.jpg" alt="">
          </div>
          <div class="right f-left">
            <div class="date">3-26<span>2018</span></div>
            <div class="name">Glory--18K白金克什米尔蓝蓝宝ssa士大夫首发式发生士大夫石吊坠</div>
            <div class="introduce">此款18K白金蓝宝石吊坠，主石为一枚5.79克拉的枕垫形
              蓝宝石，似高原天空般纯正、浓郁又微微带紫的正蓝色，
              色调纯正鲜艳，典雅高贵。此款18K白金蓝宝石吊坠，主
              石为一枚5.79克拉的枕垫形蓝宝石，似高原天空般纯正、
              浓郁又微微带紫的正蓝色，色调纯正鲜艳，典雅高贵。</div>
          </div>
        </li>
        <li class="list-item f-left right">
          <div class="left f-left">
            <img src="../images/design_list_2.jpg" alt="">
          </div>
          <div class="right f-left">
            <div class="date">3-26<span>2018</span></div>
            <div class="name">Glory--18K白金克什米尔蓝蓝宝ssa士大夫首发式发生士大夫石吊坠</div>
            <div class="introduce">此款18K白金蓝宝石吊坠，主石为一枚5.79克拉的枕垫形
              蓝宝石，似高原天空般纯正、浓郁又微微带紫的正蓝色，
              色调纯正鲜艳，典雅高贵。此款18K白金蓝宝石吊坠，主
              石为一枚5.79克拉的枕垫形蓝宝石，似高原天空般纯正、
              浓郁又微微带紫的正蓝色，色调纯正鲜艳，典雅高贵。</div>
          </div>
        </li>
      </ul>
    </div>


    <div class="footer">
      <div class="inner">
        <div class="footer-content">
          <p class="line-1">“上帝存在于细节中”</p>
          <p class="line-2">by<span>密斯·凡德罗</span></p>
          <ul class="line-3 clear-fix">
            <li class="f-left item-1">Copyright © 2016.pngems.com</li>
            <li class="f-left item-2">All Rights Reserverd.</li>
            <li class="f-left item-3">版权所有@2018 彩矿家</li>
            <li class="f-left item-4">蜀ICP备16005978号-1</li>
          </ul>
          <img src="../images/code.jpg" alt="二维码" title="二维码">
        </div>
      </div>
    </div>   
  </div>
  <!-- 窗口 -->
  <div class="controls">
    <div class="chat pointer">
      <a target="_blank" href="tencent://message/?uin=76441014&Site=&menu=yes"></a>
    </div>
    <div class="back-top pointer" id="goTopBtn"></div>
  </div>
</body>
<script src="../libs/jquery.min.js"></script>
<script>
  $(function () {
    // 回到顶部
    $("#goTopBtn").on('click', function () {
       var sc = $(window).scrollTop();
       $('body,html').animate({scrollTop: 0}, 500);
     })
  });
</script>
</html>