<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" media="screen" href="../style/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../style/user.css" />
  <script src="../libs/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="inner">
        <div class="top clear-fix">
          <div class="left">028-85031160</div>
          <div class="center">
            <img src="../images/logo.png" alt="">
          </div>
          <div class="right">
            <a href="./login.html"><span></span></a>
          </div>
        </div>
        <div class="bottom">
          <div class="nav">
            <a href="../index.html">首页</a>
            <a href="./diamond.html">宝石</a>
            <a href="./service.html">定制服务</a>
            <a href="./purchasing.html">全球采购</a>
            <a href="./journal.html" class="active">采矿家日记</a>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrap">
      <div class="content-area">
        <h2>个人信息</h2>
        <div>
          
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="inner">
        <div class="footer-content">
          <p class="line-1">“上帝存在于细节中”</p>
          <p class="line-2">by<span>密斯·凡德罗</span></p>
          <ul class="line-3 clear-fix">
            <li class="f-left item-1">Copyright © 2016.pngems.com</li>
            <li class="f-left item-2">All Rights Reserverd.</li>
            <li class="f-left item-3">版权所有@2018 彩矿家</li>
            <li class="f-left item-4">蜀ICP备16005978号-1</li>
          </ul>
          <img src="../images/code.jpg" alt="二维码" title="二维码">
        </div>
      </div>
    </div>
  </div>
</body>
</html>